logs
__pycache__
.ipynb_checkpoints
.*.swp
filelists
results
build
*.c
monotonic_align/monotonic_align
mms_ckpt
filelists
configs
monotonic_align
code_dump
natural_voices/configs
natural_voices/__pycache__
natural_voices/filelists
natural_voices/monotonic_align
natural_voices/userstudy
